@media screen and (max-width: 576px) {
  /* nav section */
  .nav-container {
    flex-direction: column;
    justify-content: center;
    padding: 50px 60px 50px 50px;
  }
  .nav-logo-container {
    gap: 10px;
    justify-items: center;
    width: auto;
  }
  .nav-item-container {
    flex-direction: column;
  }
  .nav-item-container a {
    margin-top: 50px;
  }
  .nav-item-container .follow-btn {
    width: 262px;
  }

  /* banner section */

  .banner-container {
    flex-direction: column-reverse;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: bottom;
    padding: 0;
  }
  .banner-text {
    margin-top: 10px;
  }
  .banner-img img {
    width: 380px;
  }
  .banner-text h2 {
    margin-top: 100px;
  }
  .banner-btns {
    margin-bottom: 100px;
  }

  /* we-are-gamer section */

  .we-are-gamer-div {
    flex-direction: column;
    padding: 0;
  }
  .we-are-gamer-img img {
    width: 400px;
  }
  .we-are-gamer-text {
    text-align: center;
  }

  /* online games section */
  .online-games-title {
    padding: 20px;
  }
  .online-games-img {
    align-items: center;
    padding: 50px;
    grid-template-columns: repeat(1, 1fr);
  }
  .online-games-box {
    margin-bottom: 30px;
  }
  .online-games-obx-img {
    margin-bottom: 10px;
  }
  .online-games-title p {
    font-size: 15px;
  }
  .online-games-box .online-games-dis {
    font-size: 12px;
    text-align: center;
  }

  /* play instantly section */

  .play-instantly-section {
    flex-direction: column;
    margin: 0 auto 50px;
  }
  .play-instantly-text {
    padding: 10px;
    margin-left: 0;
  }
  .play-instantly-text h1,
  .play-instantly-text p {
    text-align: center;
  }
  .play-instantly-text p {
    margin-bottom: 50px;
  }
  .play-instantly-img .rdr2 {
    width: 300px;
    position: relative;
    top: 0;
    right: -30px;
  }
  .parasite-img {
    width: 150px;
    top: 180px;
    right: 180px;
  }

  /* Careers section */

  .carrer-container {
    flex-direction: column;
    padding: 20px 0px;
  }
  .carrer-img {
    width: 300px;
  }
  .carrer-img img {
    width: 325px;
    height: 350px;
    margin-top: 50px;
  }
  .carrer-text {
    width: 300px;
    padding: 5px;
  }
  .carrer-text h1 {
    font-size: 32px;
  }
  .carrer-text p {
    font-size: 15px;
  }

  /* catagories section */

  .cataogries-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .cataogries-container div {
    width: max-content;
    margin: 20px;
    padding: 0;
    gap: 5px;
  }
  .cataogries-container div img {
    width: 25px;
  }
  .cataogries-container p {
    font-size: 0.5rem;
  }
  .cataogries-container div:hover {
    border-radius: 30px;
  }

  /* footer section */

  .footer-anchor-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .footer-anchor-container a {
    width: 110px;
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
  }
  .button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .btns {
    margin: 30px;
  }
  .terms-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 50px 20px;
    gap: 20px;
  }
  .terms-container p {
    width: 180px;
    font-size: 15px;
    text-align: center;
  }
  .footer-trademark {
    width: 300px;
    margin-top: 10px;
  }
  .footer-trademark-br {
    display: block;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .nav-container {
    flex-direction: column;
    justify-content: center;
    padding: 50px 60px 50px 50px;
  }
  .nav-logo-container {
    gap: 10px;
    justify-items: center;
    width: auto;
  }
  .nav-item-container {
    flex-direction: column;
  }
  .nav-item-container a {
    margin-top: 50px;
  }
  .nav-item-container .follow-btn {
    width: 262px;
  }

  /* banner section */

  .banner-container {
    flex-direction: column;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 800px 500px;
  }

  .banner-img img {
    width: 650px;
  }
  .banner-img {
    margin-bottom: 100px;
  }
  .banner-text h2 {
    margin-top: 100px;
  }
  .banner-btns {
    margin-bottom: 100px;
  }
  /* we-are-gamer section */

  .we-are-gamer-div {
    flex-direction: column;
    padding: 0;
  }
  .we-are-gamer-img img {
    width: 600px;
  }
  .we-are-gamer-text {
    text-align: center;
  }
  /* online games section */
  .online-games-title {
    padding: 20px;
  }
  .online-games-img {
    align-items: center;
    padding: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
  .online-games-box {
    margin-bottom: 30px;
  }
  .online-games-obx-img {
    margin-bottom: 10px;
  }
  .online-games-box .online-games-dis {
    text-align: center;
  }

  /* play instantly section */

  .play-instantly-section {
    flex-direction: column;
    margin: 0 auto 50px;
  }
  .play-instantly-text {
    padding: 10px;
    margin-left: 0;
  }
  .play-instantly-text h1,
  .play-instantly-text p {
    text-align: center;
  }
  .play-instantly-text p {
    margin-bottom: 50px;
  }
  .play-instantly-img .rdr2 {
    width: 500px;
    position: relative;
    top: 0;
    right: -60px;
  }
  .parasite-img {
    width: 250px;
    top: 290px;
    right: 295px;
  }

  /* Careers section */

  .carrer-container {
    flex-direction: column;
    padding: 20px 0px;
  }
  .carrer-img {
    width: 600px;
  }
  .carrer-img img {
    width: 600px;
    height: auto;
    margin-top: 50px;
  }
  .carrer-text {
    width: 600px;
    padding: 5px;
  }
  .carrer-text h1 {
    font-size: 32px;
  }
  .carrer-text p {
    font-size: 15px;
  }

  /* catagories section */
  .cataogries-container {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .cataogries-container div {
    width: max-content;
    margin: 20px;
    padding: 10px;
    gap: 5px;
  }
  .cataogries-container div img {
    width: 50px;
  }
  .cataogries-container p {
    font-size: 15px;
  }

  /* footer section */

  .footer-anchor-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .footer-anchor-container a {
    width: 200px;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
  }
  .button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .btns {
    margin: 30px;
    width: 150px;
  }
  .terms-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 50px 20px;
    gap: 20px;
  }
  .terms-container p {
    width: 300px;
    font-size: 15px;
    text-align: center;
  }
  .footer-trademark {
    width: 500px;
    margin-top: 10px;
  }
}
