/* shared styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Work Sans;
}

/* header section */

/* nav section */

nav {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}
.nav-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 140px;
}
.nav-logo-container {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 50%;
}
.nav-logo-container p {
  font-size: 45px;
  font-weight: 700;
}
.nav-logo-container span {
  color: #ff42a5;
}
.nav-logo-container img {
  width: 86.041px;
}
.nav-item-container a {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.nav-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.nav-item-container .follow-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 24px;
}

/* banner section */

.banner-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: 650px 700px;
}
.banner-text {
}
.banner-text h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}
.banner-text h1 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  margin-bottom: 12px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-container ul {
  align-items: center;
}
.banner-list {
  display: flex;
  text-align: center;
  justify-content: start;
  list-style: none;
  align-items: center;
  margin-bottom: 5px;
  gap: 12px;
}
.banner-btns {
  margin-top: 20px;
  text-align: center;
}
.banner-btn-1 {
  padding: 21px 40px;
  border-radius: 48px;
  background-color: #ff42a5;
  color: #fff;
  border: none;
  margin-right: 20px;
}
.banner-btn-2 {
  padding: 21px 40px;
  border-radius: 48px;
  background-color: #4ec5f7;
  color: #fff;
  border: none;
}

/* online games section */

.online-games-section {
  max-width: 1440px;
  margin: 100px auto;
  text-align: center;
}
.online-games-title h1 {
  font-size: 48px;
  font-weight: 700;
}
.online-games-title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 16px;
  margin-bottom: 40px;
}
.online-games-funny {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-games-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  place-items: center;
  padding: 50px;
}
.online-games-box {
  width: 280px;
  align-items: center;
}
.online-games-obx-img {
  position: relative;
}
.online-games-box img {
  width: 280px;
  cursor: pointer;
}
.online-games-img p {
  text-align: start;
  margin-top: 10px;
}
.img-overly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.online-games-box .img-overly-button img {
  width: 48px;
}
.img-overly:hover {
  opacity: 1;
  border: 5px solid #f948b2;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
}
.watch-now {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

/* play instantly section */

.play-instantly-section {
  max-width: 1440px;
  margin: 50px auto 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.play-instantly-text {
  text-align: center;
  margin-left: 50px;
  width: 400px;
}
.play-instantly-text h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: right;
}
.play-instantly-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-instantly-text p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  margin-top: 24px;
}
.play-instantly-img {
  position: relative;
}
.parasite-img {
  position: absolute;
  top: 370px;
  right: 450px;
}

/* catagories section */

.cataogries-container {
  max-width: 1440px;
  height: 350px;
  margin: 120px auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cataogries-container div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 5px;
  margin-right: 40px;
  gap: 10px;
  cursor: pointer;
}
.cataogries-container p {
  font-size: 20px;
  font-weight: 600;
}
.cataogries-container div:hover {
  outline: 1px solid #ff42a5;
  border-radius: 50px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* footer section */

footer {
  background-color: #0b0223;
}
.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 120px 100px;
}
.footer-container .nav-logo-container {
  align-items: center;
}
.footer-container p {
  color: white;
}
.footer-anchor-container a {
  text-decoration: none;
  color: white;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 600;
}
.footer-anchor-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.btns {
  background-color: rgba(11, 2, 35, 1);
  border: 0;
  cursor: pointer;
  margin-right: 40px;
}
.terms-container {
  display: flex;
  margin-top: 50px;
  gap: 60px;
}
.terms-container p {
  cursor: pointer;
}
.footer-trademark {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  margin-top: 45px;
}
